
<h1>Wallet Users<span id="txtUserCount"></span></h1>



<a class="btn btn-outline-success" href="/Wallet/Create/"> Create </a>
<table class="table table-responsive">
	<thead>
		<tr>
			<th>Option</th>
			<th>No.</th>
			<th>User Name</th>
			<th>Mobile No</th>
		</tr>
	</thead>
	<tbody id="tbDataTable">
		
	</tbody>
</table>
