@model List<WalletModel>

@{
	int count = 0;
	ViewData["Title"] = "Wallet User";
	bool isSuccess = Convert.ToBoolean(TempData["IsSuccess"] ?? false);
	string message = Convert.ToString(TempData["Message"] ?? string.Empty);
}
<h1>Wallet Users - @Model.Count</h1>

@if(string.IsNullOrEmpty(message))
{
	<div class="alert alert-@(isSuccess ? "success" : "Danger")" role="alert">
		A simple success alert—check it out!
	</div>
}


<a class="btn btn-outline-success" href="/Wallet/Create/"> Create </a>
<table class="table table-responsive"> 
	<thead>
		<tr> 
			<th>No.</th>
			<th>User Name</th>
			<th>Mobile No</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>@(++count)</td>
				<td>@item.WalletUserName</td>
				<td>@item.MobileNo</td>
			</tr>
		}

	</tbody>
</table>